## Preprocessing

In [78]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [79]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN'])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [80]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [81]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
#  How many name counts are greater than 5?
name_counts[name_counts>5]

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: count, Length: 354, dtype: int64

In [82]:
# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for nm in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(nm,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: count, Length: 355, dtype: int64

In [83]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [84]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<1000].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [85]:
# Look at CLASSIFICATION value counts for binning
bin_counts = application_df['CLASSIFICATION'].value_counts()

In [86]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_class = bin_counts[bin_counts>1]
counts_class

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [87]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (bin_counts[bin_counts<1000].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [88]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df,dtype=float)
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [89]:
# Split our preprocessed data into our features and target arrays
X = dummies_df.drop('IS_SUCCESSFUL', axis=1).values
y = dummies_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [90]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [91]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_36 (Dense)            (None, 100)               39600

 dense_37 (Dense)            (None, 30)                3030

 dense_38 (Dense)            (None, 10)                310

 dense_39 (Dense)            (None, 1)                 11

=================================================================
Total params: 42951 (167.78 KB)
Trainable params: 42951 (167.78 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [92]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [93]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5136 - accuracy: 0.7659 - val_loss: 0.4510 - val_accuracy: 0.7984
Epoch 2/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4495 - accuracy: 0.7947 - val_loss: 0.4330 - val_accuracy: 0.7961
Epoch 3/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4374 - accuracy: 0.7963 - val_loss: 0.4293 - val_accuracy: 0.7984
Epoch 4/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4313 - accuracy: 0.7971 - val_loss: 0.4269 - val_accuracy: 0.8018
Epoch 5/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4275 - accuracy: 0.7981 - val_loss: 0.4267 - val_accuracy: 0.7981
Epoch 6/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4247 - accuracy: 0.7984 - val_loss: 0.4265 - val_accuracy: 0.7997
Epoch 7/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4235 - accuracy: 0.7989 - val_loss: 0.4268 - val_accuracy: 0.7992
Epoch 8/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4220 - accuracy: 0.7998 - val_loss: 0.4276 - val_accuracy: 0.7994
Epoch 9/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4209 - accuracy: 0.7999 - val_loss: 0.4288 - val_accuracy: 0.7981
Epoch 10/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4201 - accuracy: 0.8001 - val_loss: 0.4262 - val_accuracy: 0.7979
Epoch 11/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4188 - accuracy: 0.8015 - val_loss: 0.4285 - val_accuracy: 0.7971
Epoch 12/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4179 - accuracy: 0.8011 - val_loss: 0.4288 - val_accuracy: 0.7994
Epoch 13/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4172 - accuracy: 0.8005 - val_loss: 0.4287 - val_accuracy: 0.7979
Epoch 14/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4165 - accuracy: 0.8027 - val_loss: 0.4284 - val_accuracy: 0.7994
Epoch 15/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4155 - accuracy: 0.8020 - val_loss: 0.4297 - val_accuracy: 0.7997
Epoch 16/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4149 - accuracy: 0.8017 - val_loss: 0.4294 - val_accuracy: 0.7984
Epoch 17/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4145 - accuracy: 0.8021 - val_loss: 0.4289 - val_accuracy: 0.7989
Epoch 18/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4140 - accuracy: 0.8028 - val_loss: 0.4300 - val_accuracy: 0.7976
Epoch 19/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4138 - accuracy: 0.8029 - val_loss: 0.4289 - val_accuracy: 0.7992
Epoch 20/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4132 - accuracy: 0.8036 - val_loss: 0.4295 - val_accuracy: 0.8046
Epoch 21/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4127 - accuracy: 0.8018 - val_loss: 0.4293 - val_accuracy: 0.7999
Epoch 22/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4123 - accuracy: 0.8032 - val_loss: 0.4294 - val_accuracy: 0.7997
Epoch 23/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4118 - accuracy: 0.8044 - val_loss: 0.4313 - val_accuracy: 0.7992
Epoch 24/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4111 - accuracy: 0.8034 - val_loss: 0.4357 - val_accuracy: 0.8015
Epoch 25/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4113 - accuracy: 0.8042 - val_loss: 0.4310 - val_accuracy: 0.7971
Epoch 26/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4109 - accuracy: 0.8032 - val_loss: 0.4339 - val_accuracy: 0.7958
Epoch 27/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4104 - accuracy: 0.8046 - val_loss: 0.4326 - val_accuracy: 0.7961
Epoch 28/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4102 - accuracy: 0.8048 - val_loss: 0.4338 - val_accuracy: 0.7953
Epoch 29/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4097 - accuracy: 0.8051 - val_loss: 0.4312 - val_accuracy: 0.7979
Epoch 30/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4092 - accuracy: 0.8050 - val_loss: 0.4336 - val_accuracy: 0.7966
Epoch 31/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4089 - accuracy: 0.8058 - val_loss: 0.4336 - val_accuracy: 0.7974
Epoch 32/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4091 - accuracy: 0.8051 - val_loss: 0.4318 - val_accuracy: 0.7958
Epoch 33/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4090 - accuracy: 0.8049 - val_loss: 0.4340 - val_accuracy: 0.7968
Epoch 34/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4085 - accuracy: 0.8052 - val_loss: 0.4344 - val_accuracy: 0.7963
Epoch 35/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4080 - accuracy: 0.8056 - val_loss: 0.4345 - val_accuracy: 0.7958
Epoch 36/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4076 - accuracy: 0.8060 - val_loss: 0.4353 - val_accuracy: 0.7950
Epoch 37/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4074 - accuracy: 0.8064 - val_loss: 0.4343 - val_accuracy: 0.7971
Epoch 38/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4072 - accuracy: 0.8063 - val_loss: 0.4351 - val_accuracy: 0.7958
Epoch 39/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4075 - accuracy: 0.8057 - val_loss: 0.4328 - val_accuracy: 0.7979
Epoch 40/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4072 - accuracy: 0.8062 - val_loss: 0.4360 - val_accuracy: 0.7974
Epoch 41/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4074 - accuracy: 0.8052 - val_loss: 0.4372 - val_accuracy: 0.7948
Epoch 42/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4068 - accuracy: 0.8053 - val_loss: 0.4386 - val_accuracy: 0.7958
Epoch 43/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4064 - accuracy: 0.8063 - val_loss: 0.4372 - val_accuracy: 0.7950
Epoch 44/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4068 - accuracy: 0.8069 - val_loss: 0.4364 - val_accuracy: 0.7966
Epoch 45/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4060 - accuracy: 0.8063 - val_loss: 0.4372 - val_accuracy: 0.7966
Epoch 46/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4060 - accuracy: 0.8060 - val_loss: 0.4360 - val_accuracy: 0.7974
Epoch 47/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4061 - accuracy: 0.8070 - val_loss: 0.4371 - val_accuracy: 0.7966
Epoch 48/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4054 - accuracy: 0.8070 - val_loss: 0.4393 - val_accuracy: 0.7968
Epoch 49/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4046 - accuracy: 0.8074 - val_loss: 0.4393 - val_accuracy: 0.7961
Epoch 50/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4047 - accuracy: 0.8073 - val_loss: 0.4409 - val_accuracy: 0.7955
Epoch 51/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4050 - accuracy: 0.8072 - val_loss: 0.4365 - val_accuracy: 0.7984
Epoch 52/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4053 - accuracy: 0.8065 - val_loss: 0.4375 - val_accuracy: 0.7987
Epoch 53/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4056 - accuracy: 0.8064 - val_loss: 0.4398 - val_accuracy: 0.7989
Epoch 54/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4050 - accuracy: 0.8067 - val_loss: 0.4379 - val_accuracy: 0.7989
Epoch 55/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4048 - accuracy: 0.8067 - val_loss: 0.4422 - val_accuracy: 0.7971
Epoch 56/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4050 - accuracy: 0.8069 - val_loss: 0.4405 - val_accuracy: 0.7987
Epoch 57/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4046 - accuracy: 0.8073 - val_loss: 0.4403 - val_accuracy: 0.7976

Epoch 58/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4047 - accuracy: 0.8070 - val_loss: 0.4413 - val_accuracy: 0.7966
Epoch 59/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4050 - accuracy: 0.8073 - val_loss: 0.4379 - val_accuracy: 0.7987
Epoch 60/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4048 - accuracy: 0.8069 - val_loss: 0.4380 - val_accuracy: 0.7971
Epoch 61/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4046 - accuracy: 0.8070 - val_loss: 0.4400 - val_accuracy: 0.7979
Epoch 62/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4039 - accuracy: 0.8075 - val_loss: 0.4415 - val_accuracy: 0.7992
Epoch 63/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4045 - accuracy: 0.8071 - val_loss: 0.4402 - val_accuracy: 0.7984
Epoch 64/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4045 - accuracy: 0.8075 - val_loss: 0.4419 - val_accuracy: 0.7971
Epoch 65/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4052 - accuracy: 0.8070 - val_loss: 0.4392 - val_accuracy: 0.7994
Epoch 66/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4050 - accuracy: 0.8069 - val_loss: 0.4404 - val_accuracy: 0.7989
Epoch 67/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4045 - accuracy: 0.8081 - val_loss: 0.4364 - val_accuracy: 0.7981
Epoch 68/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4040 - accuracy: 0.8075 - val_loss: 0.4396 - val_accuracy: 0.7984
Epoch 69/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4037 - accuracy: 0.8076 - val_loss: 0.4390 - val_accuracy: 0.7968
Epoch 70/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4034 - accuracy: 0.8070 - val_loss: 0.4372 - val_accuracy: 0.7981
Epoch 71/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4033 - accuracy: 0.8075 - val_loss: 0.4401 - val_accuracy: 0.7968
Epoch 72/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4029 - accuracy: 0.8078 - val_loss: 0.4415 - val_accuracy: 0.7966
Epoch 73/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4032 - accuracy: 0.8069 - val_loss: 0.4411 - val_accuracy: 0.7966
Epoch 74/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4041 - accuracy: 0.8069 - val_loss: 0.4397 - val_accuracy: 0.7974
Epoch 75/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4037 - accuracy: 0.8082 - val_loss: 0.4386 - val_accuracy: 0.7979
Epoch 76/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4037 - accuracy: 0.8086 - val_loss: 0.4416 - val_accuracy: 0.7971
Epoch 77/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4033 - accuracy: 0.8074 - val_loss: 0.4416 - val_accuracy: 0.7955
Epoch 78/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4035 - accuracy: 0.8075 - val_loss: 0.4449 - val_accuracy: 0.7950
Epoch 79/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4034 - accuracy: 0.8075 - val_loss: 0.4389 - val_accuracy: 0.7974
Epoch 80/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4032 - accuracy: 0.8075 - val_loss: 0.4407 - val_accuracy: 0.7942
Epoch 81/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4035 - accuracy: 0.8080 - val_loss: 0.4422 - val_accuracy: 0.7984
Epoch 82/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4033 - accuracy: 0.8070 - val_loss: 0.4412 - val_accuracy: 0.7981
Epoch 83/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4025 - accuracy: 0.8085 - val_loss: 0.4424 - val_accuracy: 0.7971
Epoch 84/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4024 - accuracy: 0.8079 - val_loss: 0.4392 - val_accuracy: 0.7984
Epoch 85/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4030 - accuracy: 0.8081 - val_loss: 0.4401 - val_accuracy: 0.7974
Epoch 86/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8081 - val_loss: 0.4416 - val_accuracy: 0.7963
Epoch 87/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8087 - val_loss: 0.4435 - val_accuracy: 0.7976
Epoch 88/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4024 - accuracy: 0.8089 - val_loss: 0.4433 - val_accuracy: 0.7974
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4020 - accuracy: 0.8095 - val_loss: 0.4431 - val_accuracy: 0.7968
Epoch 90/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8084 - val_loss: 0.4420 - val_accuracy: 0.7976
Epoch 91/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4018 - accuracy: 0.8080 - val_loss: 0.4428 - val_accuracy: 0.7953
Epoch 92/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4026 - accuracy: 0.8083 - val_loss: 0.4413 - val_accuracy: 0.7971
Epoch 93/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8083 - val_loss: 0.4436 - val_accuracy: 0.7971
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4028 - accuracy: 0.8089 - val_loss: 0.4406 - val_accuracy: 0.7979
Epoch 95/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4023 - accuracy: 0.8091 - val_loss: 0.4454 - val_accuracy: 0.7963
Epoch 96/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4027 - accuracy: 0.8081 - val_loss: 0.4427 - val_accuracy: 0.7963
Epoch 97/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8086 - val_loss: 0.4405 - val_accuracy: 0.7966
Epoch 98/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4029 - accuracy: 0.8081 - val_loss: 0.4426 - val_accuracy: 0.7945
Epoch 99/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4027 - accuracy: 0.8079 - val_loss: 0.4404 - val_accuracy: 0.7945
Epoch 100/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4025 - accuracy: 0.8083 - val_loss: 0.4398 - val_accuracy: 0.7963

In [94]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4629 - accuracy: 0.7866 - 227ms/epoch - 848us/step
Loss: 0.4628777503967285, Accuracy: 0.7865889072418213

In [97]:
# Export our model to HDF5 file
filepath = r"C:\Users\rowve\Downloads\Starter_Code\Starter_Code\AlphabetSoupCharity_Optimisation.h5"
nn.save(filepath, save_format='h5')